<app-navbar></app-navbar>
<div class="container py-5">
  <h2>Iniciar Sesión</h2>

  <form (ngSubmit)="login()" class="w-50">
    <div class="mb-3">
      <input [(ngModel)]="credentials.username" name="username" class="form-control" placeholder="Usuario" required>
    </div>
    <div class="mb-3">
      <input [(ngModel)]="credentials.password" name="password" type="password" class="form-control" placeholder="Contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>
